body{
    padding: 30px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-weight: 320;
    letter-spacing: 0.7px;
    font-size: 15px;
    line-height: 17px;
}

.listbox{
    padding: 15px;
    line-height: 21px;
    list-style-type: circle;
}

hr{
    height: 1px;
    border: none;
    background-color: black;
}

a{
    color: #0A1EFA;
    padding: 1px;
}
a:hover{
    background-color: #0A1EFA;
    color: white;
}