html, body {
  /*overflow: hidden;*/
  margin: 0;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: none;
  background-color: "#2C2C7D";
  height: 100%;
}

#canvas{
  position:absolute;
  padding: 0;
  margin: 0;
  z-index: 0;
}

#content{
  padding-left: 50px;
  padding-top: 20px;
  position: fixed;
  width: 100%;
}

h1{
  font-size: 5em;
  text-decoration: underline;
  font-weight: bold; 
}

li{
  font-size: 2em;
  font-family: "Helvetica Neue";
  font-weight: bold; 
  cursor: hand;
}

a{
  text-decoration: none;
  color: white;
}
a:visited{
  color: white;
}

li:hover{
  color: #B3D8FC;
  font-size: 1.9em;
}